*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html, body{
    width: 100%;
    height: 1000px;
}
.warpper{
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}

.warpper .top-nav-warp{
    width: 100%;
    height: 35px;
    background-color: #eee;
 
}


.warpper .top-nav-warp .top-nav{
    width: 1190px;
    height: 100%;
    margin: 0 auto;

}

.warpper .top-nav-warp .top-nav .top-nav-left{
    float: left;
}


.warpper .top-nav-warp .top-nav .top-nav-right{
    float: right;
}


.warpper .top-nav-warp .top-nav .top-nav-item{
    float: left;
    margin-right: 7px;

}

.warpper .top-nav-warp .top-nav li a{
    color: #3c3c3c;
   float: left;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    padding: 0 6px;
}

.warpper .top-nav-warp .top-nav .top-nav-item .china{
    color: #3c3c3c;
    float: left;
    margin-right: 6px;
    font-size: 12px;
    margin-left: 6px;
    line-height: 35px;
}


.warpper .top-nav-warp .top-nav .top-nav-item a:hover,
.warpper .top-nav-warp .top-nav .top-nav-item .login
{
    color: #f40;
}

.warpper .top-nav-warp .top-nav .cutOff{
    height: 35px;
    line-height: 35px;
}

.warpper .top-nav-warp .top-nav .bgPic{
    float: left;
    display: block;
    background-size: 100% 100%;
}

.warpper .top-nav-warp .top-nav .xsjPic{
    width: 6px;
    height: 6px;
    margin-top: 14px;
    background-image: url('img/xsj.png')
}

.warpper .top-nav-warp .top-nav .shopCarPic{
    width: 12px;
    height: 12px;
    margin-top: 11px;
    margin-right: 3px;
    background-image: url('img/gwc.png');
}

.warpper .top-nav-warp .top-nav .starPic{
    width: 12px;
    height: 12px;
    margin-top: 11px;
    margin-right: 3px;
    background-image: url('img/star.png');
}

.warpper .top-nav-warp .top-nav .webNavPic{
    width: 12px;
    height: 12px;
    margin-top: 11px;
    margin-right: 3px;
    background-image: url('img/menu.png');
}

/* nav class */
.warpper .top-search-warp{
    width: 100%;
    height: 121px;
    background-color: white;
}

.warpper .top-search-warp .top-search{
    width: 100%;
    height: 97px;
    padding-top: 24px;
}

.warpper .top-search-warp .top-search .top-search-content{
    width: 1190px;
    height: 88px;
    margin: 0 auto;
}

.warpper .top-search-warp .top-search .top-search-content .top-search-logo{
    width: 190px;
    height: 88px;
    display: inline-block;
}

.warpper .top-search-warp .top-search .top-search-content .top-search-logo .logo-bg{
    width: 140px;
    height: 58px;
    margin-top: 15px;
    margin-left: 22px;
    display: block;
    background-image: url('img/logo.png')
}

.warpper .top-search-warp .top-search .top-search-content .top-search-center{
    width: 627px;
    height: 88px;
    display: inline-block;
    margin-left: 48px;
}

.warpper .top-search-warp .top-search .top-search-content .top-search-code{
    width: 76px;
    height: 90px;
    border: 1px solid #ccc;
    display: inline-block;
    margin-left: 110px;
    text-align: center;
}


.warpper .top-search-warp .top-search .top-search-content .top-search-center .center-top{
    width: 610px;
    height: 22px;
    margin-left: 17px;
    font-size: 14px;
    text-align: center;
}

.warpper .top-search-warp .top-search .top-search-content .top-search-center .center-top .center-top-label{
    float: left;
    width: 36px;
    height: 22px;
    line-height: 22px;
    margin-right: 4px;
    color: #f40;
    cursor: pointer;
}

.warpper .top-search-warp .top-search .top-search-content .top-search-center .center-top .center-top-label:hover{
    background-color: rgb(247, 206, 191);
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.warpper .top-search-warp .top-search .top-search-content .top-search-center .center-top .center-top-select{
    float: left;
    width: 36px;
    height: 22px;
    line-height: 22px;
    margin-right: 4px;
    color: white;
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    cursor: pointer;
}

.warpper .top-search-warp .top-search .top-search-content .top-search-center .center-center{
    width: 627px;
    height: 40px;
    position: relative;
}

.warpper .top-search-warp .top-search .top-search-content .top-search-center .center-bottom{
    height: 20px;
    width: 586px;
    padding-top: 5px;
    padding-right: 41px;
}

.warpper .top-search-warp .top-search .top-search-content .top-search-center .center-center .center-left{
    height: 36px;
    width: 551px;
    margin-right: 74px;
    border: 2px solid #f40;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;

}

.warpper .top-search-warp .top-search .top-search-content .top-search-center .center-center .center-left .ic-search{
        width: 26px;
        height: 26px;
        margin: 5px 7px;
        background-size: 100% 100%;
        background-image: url('img/search.png')
}

.warpper .top-search-warp .top-search .top-search-content .top-search-center .center-center .center-left .ic-camera{
    width: 26px;
    height: 26px;
    margin: 5px 7px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-size: 100% 100%;
    background-image: url('img/camera.png')
}


.warpper .top-search-warp .top-search .top-search-content .top-search-center .center-center .center-right{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 74px;
    height: 40px;
    z-index: 100;
    text-align: center;
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.warpper .top-search-warp .top-search .top-search-content .top-search-center .center-center .center-right .btn-search{
    width: 74px;
    height: 40px;
    line-height: 40px;
    background: none;
    outline: none;
    border:0px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.warpper .top-search-warp .top-search .top-search-content .top-search-center .center-bottom .center-bottom-list{
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding-bottom: 5px;
}

.warpper .top-search-warp .top-search .top-search-content .top-search-center .center-bottom .center-bottom-item{
    float: left;
    margin-right: 6px;
}
.warpper .top-search-warp .top-search .top-search-content .top-search-center .center-bottom .center-bottom-item:hover{
    color: #f40;
    cursor: pointer;
}

.warpper .top-search-content .top-search-code .code-text{
    width: 76px;
    text-align: center;
    font-size: 12px;
    color: #f40;
}


.warpper .top-search-content .top-search-code .code-img{
    width: 66px;
    height: 66px;
    margin: 3px;
}

/* 搜索 */


/* 中间导航 */

.warpper .center-nav-warp{
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to right, rgb(255, 144, 0) 0px, rgb(255, 80, 0) 100%)
}

.warpper .center-nav-warp .center-nav-content{
    width: 1190px;
    height: 30px;
    margin: 0px auto;
}


.warpper .center-nav-warp .center-nav-content .center-nav-title{
    width: 190px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: #f40;
    float: left;
}

.warpper .center-nav-warp .center-nav-content .center-nav-item{
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0px 3px;
    padding: 0px 4px;
    color: white;
    cursor: pointer;
}
.warpper .center-nav-warp .center-nav-content .center-nav-item:hover{
    color: #f40;
}


.warpper .center-nav-warp .center-nav-content .center-nav-item-line{
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 3px;
    color: white;
}



/* 页面内同区域 */

.warpper .screen-warp{
    width: 1190px;
    height: 632px;
    margin: 0px auto;

}

.warpper .screen-warp .main{
    width: 900px;
    height: 632px;
    float: left;
}

.warpper .screen-warp .col-right{
    width: 290px;
    height: 632px;
    float: left;
}


.warpper .screen-warp .main .main-inner{
    width: 900px;
    height: 522px;
}

.warpper .screen-warp .main .main-headline{
    width: 900px;
    height: 100px;
    margin-top: 10px;

}

.warpper .screen-warp .main .main-inner .inner-left{
    width: 190px;
    height: 522px;
    float: left;
}


.warpper .screen-warp .main .main-inner .inner-core{
    width: 520px;
    height: 512px;
    margin: 10px 0px 0px 10px;
    float: left;
}


.warpper .screen-warp .main .main-inner .inner-left ul{
    width: 188px;
    border: 1px solid #f40;
    padding: 5px 0 3px 0;
    border-top: none;
}

.warpper .screen-warp .main .main-inner .inner-left ul li{
    width: 145px;
    height: 32px;
    line-height: 32px;
    padding: 0 18px 0 25px;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    position: relative;
}

.warpper .screen-warp .main .main-inner .inner-left ul li:hover{
    background-color: #f7c1a8;
    color: #f40;
}

.warpper .screen-warp .main .main-inner .inner-left ul li:hover a{
   color: #f40;
}

.warpper .screen-warp .main .main-inner .inner-left ul li a{
    color: #666;
 }

 .warpper .screen-warp .main .main-inner .inner-left ul li a:hover{
    text-decoration: underline;
 }

 .warpper .screen-warp .main .main-inner .inner-left ul li span{
     width: 6px;
     height: 8px;
     position: absolute;
     top: 50%;
     right: 15px;
     margin-top: -4px;
    background-image: url('img/yjt.png');
    background-size:100% 100%;
}


.warpper .screen-warp .main .main-inner .inner-core .inner-core-top{
    width: 520px;
    height: 280px;
    position: relative;
}

.warpper .screen-warp .main .main-inner .inner-core .inner-core-top ul{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -50px;
}

.warpper .screen-warp .main .main-inner .inner-core .inner-core-top ul li{
    background-color: white;
    border-radius: 5px;
    width: 10px;
    margin: 3px;
    padding-top: 10px;
    float: left;
}

.warpper .screen-warp .main .main-inner .inner-core .inner-core-top ul .select{
    background-color: #f40;
}


.warpper .screen-warp .main .main-inner .inner-core .up{
    width: 11px;
    height: 14px;
    padding: 8px 5px 8px 3px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    background-color: #444;
    opacity: 0.6;
    display: none;
}

.warpper .screen-warp .main .main-inner .inner-core .next{
    width: 11px;
    height: 14px;
    padding: 8px 3px 8px 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -15px;
    background-color: #444;
    opacity: 0.6;
    display: none;
}

.warpper .screen-warp .main .main-inner .inner-core .inner-core-top:hover img{
    display: inline-block;
}
 



.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom{
    width: 520px;
    height: 230px;
    margin-top: 2px;

}

.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom .inner{
    width: 520px;
    height: 18px;
    vertical-align:center;
    position: relative;
    padding-top: 11px;
}

.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom .inner span{
    width: 136px;
    height: 19px;
    background-size: 100% 100%;
    display: inline-block;
    float: left;
}

.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom h5{
    height: 18px;
    line-height: 18px;
    color: #666;
    font-size: 14px;
    font-weight: 300;
    margin: 0 5px;
    float: left;
}
.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom strong{
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: #444;
    position: absolute;
    right: 3px;
}


.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom .bottom-banner{
    width: 520px;
    height: 190px;
    position: relative;
    padding-top: 5px;
    background-color: white;
}

.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom .bottom-banner img{
    width: 255px;
    height: 182px;
}
.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom .bottom-banner .banner-left{
    width: 255px;
    height: 182px;
    background-color: #f40;
    margin: 0 1px;
    position: absolute;
    left: 0px;
    margin-top: 10px;
}

.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom .bottom-banner .banner-right{
    width: 255px;
    height: 182px;
    background-color: #f40;
    margin: 0 1px;
    position: absolute;
    right: 0px;
    margin-top: 10px;
}


.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom .bottom-banner ul{
    width: 520px;
    height: 10px;
    position:absolute;
    top: 0;
    left: 0;
}

.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom .bottom-banner ul li{
    width: 20%;;
    height: 5px;
    float: left;
    background-color: #f40;
}
.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom .bottom-banner ul .select{
    background-color: black;
}
.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom .bottom-banner .up,
.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom .bottom-banner .next{
    width: 11px;
    height: 14px;
}
.warpper .screen-warp .main .main-inner .inner-core .inner-core-bottom .bottom-banner:hover img{
    display: inline-block;
}


.warpper .screen-warp .main .main-inner .inner-hide{
    width: 160px;
    height: 512px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.warpper .screen-warp .main .main-inner .inner-hide span{
    height: 30px;
    width: 160px;
    text-align: left; 
    line-height: 30px;
    display: inline-block;
    color: #666;
}



.warpper .screen-warp .main .main-headline .headline{
    width: 856px;
    height: 74px;
    padding-top: 14px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 20px;
    margin-top: 10px;
    background-color: white;
    position: relative;
}

.warpper .screen-warp .main .main-headline .headline .headline-left{
    width: 180px;
    height: 73px;
    display: block;
    float: left;
}
.warpper .screen-warp .main .main-headline .headline img{
    width: 130px;
    height: 73px;
    vertical-align: top;
    float: left;
}

.warpper .screen-warp .main .main-headline .headline a{
    color: #f40;
    margin-left: 10px;
}

.warpper .screen-warp .main .main-headline .headline .headline-label{
    position: absolute;
    top: 50px;
    left: 340px;
    margin-right: 20px;
}



.warpper .screen-warp .col-right .col-top{
    width: 290px;
    height: 132px;
    padding-top: 3px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #fff;
}

.warpper .screen-warp .col-right .col-top .col-top-head{
    width: 74px;
    height: 56px;
    margin: 0 108px;
    text-align: center;
  
}
.warpper .screen-warp .col-right .col-top .col-top-head img{
    width: 50px;
    height: 50px;
    background-color: #f40;
    border-radius: 25px;
    margin: 2.5px;;
}

.warpper .screen-warp .col-right .col-top .col-top-name{
    width: 290px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    display: inline-block;
}

.warpper .screen-warp .col-right .col-top .label{
    width: 290px;
    height: 17px;
    text-align: center;
}
.warpper .screen-warp .col-right .col-top .label a{
    height: 17px;
    line-height: 17px;
    color: #f40;
    display: inline-block;
    text-align: center;
    font-size: 14px;

}
.warpper .screen-warp .col-right .col-top .col-top-btn{
    width: 290px;
    height: 40px;
    margin-top: 8px;
}
.warpper .screen-warp .col-right .col-top .col-top-btn ul li {
    float: left;
    width: 70px;
    height: 25px;
    background-color: #f40;
    border-radius: 5px;
    line-height: 25px;
    margin: 0 10px;
    text-align: center;
    color: #fff;
}






.warpper .screen-warp .col-right .col-alert{
    width: 290px;
    height: 26px;
    background-color: rgb(247, 182, 159);
    color: #f40;
    line-height: 26px;
    font-size: 16px;
    text-align: center;
}


.warpper .screen-warp .col-right .col-nav{
    width: 290px;
    height: 98px;
    padding-top: 10px;
    background: #fff;
}

.warpper .screen-warp .col-right .col-nav .col-nav-content{
    height: 24px;
    width: 276px;
    padding: 0 8px;
    margin-top: 4px;
}

.warpper .screen-warp .col-right .col-nav .col-nav-content li{
    width: 32px;
    height: 20px;
    margin: 0 11px;
    float: left;
}

.warpper .screen-warp .col-right .col-nav .col-nav-content li:hover{
    border-bottom: 1.5px solid #f40;
    color: #f40;
}

.warpper .screen-warp .col-right .col-nav .col-nav-list{
    widows: 266px;
    height: 50px;
    padding-top: 9px;
    padding-bottom: 6px;
    margin: 0 12px;
}
.warpper .screen-warp .col-right .col-nav .col-nav-list li{
    height: 25px;
    line-height: 25px;
}
.warpper .screen-warp .col-right .col-nav .col-nav-list li:hover{
    height: 25px;
    line-height: 25px;
    color: #f40;
    cursor: pointer;
}



.warpper .screen-warp .col-right .col-table-1{
    width: 290px;
    height: 230px;
    background: #fff;
}
.warpper .screen-warp .col-right .col-table-1 ul{
   margin: 0 1px;
}
.warpper .screen-warp .col-right .col-table-1 ul li{
    width: 70px;
    height: 75px;
    border: 0.5px solid #f4f4f4;
    float: left;
    text-align: center;
}

.warpper .screen-warp .col-right .col-table-1 ul li span{
    height: 24px;
    width: 24px;
    margin-top: 11px;
    background-image: url('img/ic-person.png');
    background-size: 100% 100%;
    display: inline-block;
}

.warpper .screen-warp .col-right .col-table-1 ul li p{
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
}

.warpper .screen-warp .col-right .col-table-1 ul li:hover{
    border: 0.5px solid #f40;
}

.warpper .screen-warp .col-right .col-table-1 ul li:hover p{
    color: #f40;
}


.warpper .screen-warp .col-right .col-table-2{
    width: 290px;
    height: 110px;
    background-color: #fff;
}

.warpper .screen-warp .col-right .col-table-2 .col-table2-top{
    width: 276px;
    height: 30px;
    padding-left: 14px;
    position: relative;
}

.warpper .screen-warp .col-right .col-table-2 .col-table2-top strong{
    height: 30px;
    line-height: 30px;
}

.warpper .screen-warp .col-right .col-table-2 .col-table2-top span{
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 5px;
}

.warpper .screen-warp .col-right .col-table-2 .col-table2-top ul {
    margin-left: 8px;
}

.warpper .screen-warp .col-right .col-table-2 .col-table2-top ul li{
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 21px;
    margin-bottom: 8px;
}


.warpper .screen-warp .col-right .col-table-2 .col-table2-top ul li img{
    width: 32px;
    height: 32px;
    /* background-image: url('img/ic-person.png');
    background-size: 100% 100%; */
}

.warpper .right-fiex{
    width: 50px;
    height: 300px;
    box-shadow: #c5c5c5 10px 10px 30px 10px;
    background-color: #fff;
    position: fixed;
    right: 10px;
    top: 50%;
    margin-top: -150px;
    z-index: 100;
    border-radius: 10px;
    padding-top: 10px;
}

.warpper .right-fiex ul li{
    width: 40px;
    height: 50px;
    margin: 0 5px;
    text-align: center;
    line-height: 20px;
    background-color: #fff;

}

.warpper .right-fiex ul li:hover{
    color: #f40;
    cursor: pointer;
}

.warpper .right-fiex ul .top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.warpper .right-fiex ul .bottom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
























.size-18{
    font-size: 18px;
    font-weight: 600;
}

.size-16{
    font-size: 16px;
    font-weight: 600;
}

.size-14{
    font-size: 14px;
    font-weight: 600;
}







